<!DOCTYPE html>
<html lang="en">
<head>
  <title>JspmOnRails</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <% if Rails.configuration.x.client_side.use_production_build %>
    <%= javascript_include_tag "production-app" %>
  <% else %>
    <%= javascript_include_tag "development-app" %>
  <% end %>
  <script type="text/javascript">
    System.import("app/bootstrap");
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
