<!DOCTYPE html>
<html lang="en">
<head>
  <title>JspmOnRails</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "/jspm_packages/system.js" %>
  <%= javascript_include_tag "/config.js" %>
  <% if Rails.configuration.x.client_side.use_production_build %>
    <%= javascript_include_tag 'build' %>
  <% end %>
  <script type="text/javascript">
    System.import("app/bootstrap");
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
